{% extends 'base.html' %}
{% load static %}
{% block title %}
home
{% endblock %}
{% block main %}
<!-- Blog Start -->
        <div class="row" style="text-align: right; direction: rtl; margin-top: 50px">
        {% for art in ad %}
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    <img class="card-img-top mb-2" src="{{art.thumbnail.url}}" alt="" height="200" title="{{art.title}}">
                    <div class="card-body bg-light text-center p-4">
                        <h4 class="">{{art.title}}</h4>
                        <div class="d-flex justify-content-center mb-3">
                            <small class="mr-3"><i class="fa fa-clock text-primary"></i> {{art.publish}}</small>
                        </div>
                        <p>{{art.description|truncatewords:30}}</p>
                        <p>
{#                          {% for cat in art.category.all %}#}
{#                          <a href="{% url 'blog:category' cat.slug %}">{{cat.title}}#</a>#}
{#                          {% endfor %}#}
                        </p>
                        <a href="{{ art.get_absolute_url }}" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div style="height: 100px; width: 100%; background-color: rgb(31, 85, 119);">
                <div class="text-center pb-2">
                    <h1 style="padding:50px; color: rgb(255, 255, 255)">رزومه ها </h1>
                </div>
            </div>
            {% for resume in resumes %}
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    {% if resume.image %}
                        <img style="border-radius: ;" class="card-img-top mb-2" src="{{resume.image.url}}" alt="" height="200" title="{{resume.username}}">
                    {% else %}
                        <img class="card-img-top mb-2" src="{% static 'img/student-prof.png' %}" alt="" height="200" title="{{resume.username}}">
                    {% endif %}
                    <div class="card-body bg-light text-center p-4">
                        <h4 class="">{{resume.full_name}}</h4>
                        <div class="d-flex justify-content-center mb-3">
                            <small class="mr-3"><i class="fa fa-clock text-primary"></i> {{ resume.city }}</small>
                        </div>
                        <p>{{ resume.skill }}</p>
                        <a href="{% url 'home:resume detail' resume.id %}" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
       
<!-- Blog End -->
{% endblock %}